:root {
  --nav-bg-color: rgba(51, 255, 184, 0.05);
  --bg-color: #222026;
  --second-bg-color: #322f37;

  --third-bg-color: #47424e;
  --main-color: #33ffb8;

  --text-color: #c5fcea;
  --tab-list-color: #7c948a;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overscroll-behavior: none;
}

body {
  background: var(--bg-color);
}
.nav {
  position: sticky;
  width: 100%;
  border-bottom: 1px solid var(--tab-list-color);
  padding: 20px 200px;
  justify-content: space-between;
  transition: 0.4s ease;
}
.nav,
.navLinks {
  display: flex;
  align-items: center;
}
a {
  text-decoration: none;
  color: var(--text-color);
}
.nav .logo {
  font-size: 22px;
  font-weight: 500;
}
.nav .navLinks {
  column-gap: 20px;
  list-style: none;
}
.nav.openSearch .navLinks {
  opacity: 0;
  pointer-events: none;
}
.nav .navLinks {
  transition: all 0.2s linear;
}
.nav .searchIcon {
  color: var(--text-color);
  font-size: 20px;
  cursor: pointer;
}

.nav .searchBox {
  position: absolute;
  height: 45px;
  right: 250px;
  width: 100%;
  max-width: 555px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s linear;
}
.nav.openSearch .searchBox {
  opacity: 1;
  pointer-events: auto;
}
.searchBox .searchIcon {
  position: absolute;
  left: 15px;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}
.searchBox input {
  height: 100%;
  width: 100%;
  border: 1px solid var(--tab-list-color);
  background: var(--bg-color);
  outline: none;
  border-radius: 6px;
  padding: 0 15px 0 45px;
  color: var(--text-color);
}
.nav .navOpenBtn,
.nav .navCloseBtn {
  display: none;
}
.blog-wrapper {
  display: flex;
  margin: auto auto;
  max-width: 1400px;
  color: var(--text-color);
  gap: 20px;
}
.blog-wrapper .blog-post {
  width: 70%;
}
.blog-wrapper .sidebar {
  width: 30%;
}
